.upbar {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

.username {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #000000;
}

.menu_button {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    place-items: center;
}

.menu_button svg {
    display: block;
}

.profile_header {
    padding: 0 16px;
    margin-bottom: 8px;
}

.profile_info {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 47px;
    margin-bottom: 6px;
}

.profile_photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.user_info_list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;

}

.user_info_item {
    text-align: center;
    list-style-type: none;
}

.item_count {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 3px;
}

.item_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.profile_bio {
    display: grid;
    gap: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.profile_link {
    text-decoration: none;
    color: #0F4D73;
}

.profile_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    gap: 14px;
    padding: 0 16px;
    margin-bottom: 17px;
}

.profile_button_grey {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    background: #DFDFDF;
    border: none;
    border-radius: 5px;
    padding: 7px 0 6px 0;
}

.button_discover_people {
    display: grid;
    place-items: center;
    background: #DFDFDF;
    border: none;
    border-radius: 5px;
    padding: 5px 4px 6px 4px;
}

.highlights_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 14px;
    padding: 0 16px;
}

.highlights_item {
    display: grid;
    place-items: center;
    list-style-type: none;
}

.highlights_circle {
    width: 58px;
    height: 58px;
    display: grid;
    place-items: center;
    border: 1px solid #7E7E7E;
    border-radius: 50%;
    margin-bottom: 11px;
}

.highlights_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}